NODE_ENV="development"

# Web
# ==============================================================================
# Point this to different web servers e.g. staging, production
# Examples:
#   Development: http://localhost:3000
#   Staging: https://staging.yourapp.com
#   Production: https://yourapp.com
WEB_URL="http://localhost:3000"

# Playwright
# ==============================================================================
PLAYWRIGHT_SKIP_VALIDATE_HOST_REQUIREMENTS="1"

# Authentication
# ==============================================================================
# If these are set, we will attempt to login with this email and password
# for staging/production testing where registration is not feasible
E2E_EMAIL=""
E2E_PASSWORD=""

# Settings
# ==============================================================================
TEST_MODEL="glm-4.7-flash"
TEST_PROVIDER="ollama"

# vim: ft=sh
