# =============================================================================
# Server
# =============================================================================
HOST="localhost"
PORT="5500"

# =============================================================================
# Storage
# =============================================================================
DATABASE_URL=postgres://postgres:postgres@localhost:54321/memoir_server

# vim: ft=sh
