# =============================================================================
# Server
# =============================================================================
HOST=0.0.0.0
PORT=5154
RUST_LOG=debug,sqlx=warn,sea_orm=warn,hyper=warn,h2=warn,tower=warn
UI_URL=http://localhost:3000
# Set this higher if tests are failing. In deployed environments, should be 1 or empty
RATE_LIMIT_MULTIPLIER=10

# =============================================================================
# Stripe
# =============================================================================
# STRIPE_SECRET_KEY=sk_your_stripe_secret_key
# STRIPE_WEBHOOK_SECRET=whsec_your_stripe_webhook_secret

# vim: ft=sh
