# =============================================================================
# Server
# =============================================================================
HOST=0.0.0.0
PORT=5500

# Memoir, if it's not obvious that in memoir-service, these envars are meant for memoir.
# We're just going to name everything MEMOIR_* because envars should be **more** verbose, not less. They will go in this section for organization, because we NEED to prefix all envars in a service that's designed to run, by itself, on a container, with nothing else. Also, when prefixing these, we _must_ use something like MEMOIR_*, because memoir's web and other services _won't_ be named like this, obviously for consistency. This is good engineering. Really high level stuff.
MEMOIR_HTTP_PORT=5154
MEMOIR_JWT_SECRET=9dbJde/2FypoYXPKRr1MabCdqT143GUKPgfDRRSAGEM=
# MEMOIR_EXTRACTION_PROVIDER=ollama
# MEMOIR_EXTRACTION_URL=http://localhost:11434
# MEMOIR_EXTRACTION_MODEL=llama3.2:1b
# MEMOIR_EXTRACTION_API_KEY=

# =============================================================================
# Storage
# =============================================================================
DATABASE_URL=postgres://postgres:postgres@localhost:54321/memoir_service
QDRANT_URL=localhost:6334

# vim: ft=sh
