# =============================================================================
# Server
# =============================================================================
HOST=0.0.0.0
PORT=5500
MEMOIR_JWT_SECRET=9dbJde/2FypoYXPKRr1MabCdqT143GUKPgfDRRSAGEM=

# =============================================================================
# Storage
# =============================================================================
DATABASE_URL=postgres://postgres:postgres@localhost:54321/memoir_service
QDRANT_URL=localhost:6334

# vim: ft=sh
