# =============================================================================
# Server
# =============================================================================
HOST=0.0.0.0
PORT=5156

# vim: ft=sh
